# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok
/scripts/.env
/scripts/node_modules/
#/scripts/package-lock.json
/artifacts/
/contracts/factory/schema/
/contracts/pair/schema/
/contracts/pair_stable/schema/
/contracts/router/schema/
/contracts/token/schema/
/contracts/tokenomics/gauge/schema/
/contracts/tokenomics/staking/schema/
/contracts/tokenomics/vesting/schema/
