# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok
/scripts/.env
/scripts/node_modules/
#/scripts/package-lock.json
/artifacts/
