[package]
name = "astroport-incentives"
version = "1.1.0"
authors = ["Astroport"]
edition = "2021"
description = "Astroport Incentives Contract distributing rewards to LP stakers"
license = "GPL-3.0-only"
repository = "https://github.com/astroport-fi/astroport"
homepage = "https://astroport.fi"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
library = []

[dependencies]
cosmwasm-std.workspace = true
cw-storage-plus.workspace = true
cosmwasm-schema.workspace = true
cw2.workspace = true
cw20 = "1"
cw-utils.workspace = true
astroport = "4"
thiserror.workspace = true
itertools.workspace = true

[dev-dependencies]
astroport-vesting_131 = { package = "astroport-vesting", version = "=1.3.1", features = ["library"] }
astro-token-converter = { path = "../../periphery/astro_converter", version = "1.0", features = ["library"] }
anyhow = "1"
astroport-factory = { path = "../../factory" }
astroport-pair = { path = "../../pair" }
astroport-pair-stable = { path = "../../pair_stable" }
astroport-native-coin-registry = { path = "../../periphery/native_coin_registry" }
astroport-vesting = { path = "../vesting" }
astroport-test = { path = "../../../packages/astroport_test" }
cw20-base = "1"
proptest = "1.3"
