name: Compiled binaries checks

on:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  fetch_deps:
    name: Fetch cargo dependencies
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: |
            ${{ secrets.GOV_PRIVATE_KEY }}

      - uses: actions/cache@v3
        if: always()
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git/checkouts
            ~/.cargo/git/db
            ~/.cargo/registry/cache
            ~/.cargo/registry/index
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - run: |
          git config url."ssh://git@github.com/astroport-fi/hidden_astroport_governance.git".insteadOf "https://github.com/astroport-fi/hidden_astroport_governance"

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.68.0
          override: true

      - name: Fetch cargo deps
        uses: actions-rs/cargo@v1
        with:
          command: fetch
          args: --locked

  check-artifacts-size:
    runs-on: ubuntu-latest
    name: Check Artifacts Size
    needs: fetch_deps
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git/checkouts
            ~/.cargo/git/db
            ~/.cargo/registry/cache
            ~/.cargo/registry/index
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          # docker can't pull private sources, so we fail if cache is missing
          fail-on-cache-miss: true

      - name: Build Artifacts
        run: |
          docker run \
            -v "$GITHUB_WORKSPACE":/code \
            -v ~/.cargo/registry:/usr/local/cargo/registry \
            -v ~/.cargo/git:/usr/local/cargo/git \
            cosmwasm/workspace-optimizer:0.12.13

      - name: Save artifacts cache
        uses: actions/cache/save@v3
        with:
          path: artifacts
          key: ${{ runner.os }}-artifacts-${{ hashFiles('**/Cargo.lock') }}

      - name: Check Artifacts Size
        run: |
          $GITHUB_WORKSPACE/scripts/check_artifacts_size.sh



  cosmwasm-check:
    runs-on: ubuntu-latest
    name: Cosmwasm check
    needs: check-artifacts-size
    steps:
      # We need this only to get Cargo.lock
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Restore cached artifacts
        uses: actions/cache/restore@v3
        with:
          path: artifacts
          key: ${{ runner.os }}-artifacts-${{ hashFiles('**/Cargo.lock') }}
          fail-on-cache-miss: true
      - name: Install cosmwasm-check
        # Uses --debug for compilation speed
        run: cargo install --debug --version 1.4.0 cosmwasm-check
      - name: Cosmwasm check
        run: |
          cosmwasm-check $GITHUB_WORKSPACE/artifacts/*.wasm --available-capabilities staking,cosmwasm_1_1,injective,neutron,iterator,stargate
